{% extends 'postings/base.html' %}
{% load static %}

{% block head %}
<title>Sign Up?</title>
<link rel="stylesheet" href="{% static 'postings/home.css' %}"
{% endblock %}

{% block content %}
  <!-- After submit, the user will se the note below -->
<h2> {{ note }}</h2>
<form action="{% url 'create' %}" method="post" style="border:1px solid #ccc">
  {% csrf_token %}
    <div class="container">
        <h1>Sign Up</h1>
        <p>Please fill out the following to create a post.</p>
      
        {{ internshipform }}

      
<!--         <hr>
        <br><br>
        <label for="internship_name"><b>Internship Name</b></label>
        <input type="text" placeholder="" id="internshipname" name="internshipname" required>
        <br><br>
      <label for="employer_name"><b>Employer Name</b></label>
        <input type="text" placeholder="" id="employer" name="employername" required>
        <br><br>
      <label for="link"><b>Link</b></label>
        <input type="text" placeholder="" id="Link" name="link" required>
        <br><br>
      <label for="description"><b>Description</b></label>
        <input type="text" placeholder="" id="desc" name="desc" required>
        <br><br> -->
      <input type="submit" value="Submit Post">
    </div>
</form>

            
{% endblock %}