{% extends 'postings/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'postings/home.css' %}">
{% endblock %}




{% block content %}
<div class="home">
    <!-- Navbar -->
    <a>Welcome to our Resources and Internships website!</a>
    <div class="img">
            <img  alt="homeimg"  src="homeimg.png" width="900" height="300">
    </div>
    <h3>Explore Internships from renowned companies like</h3>
    <!-- Company Logos/ Examples -->
    <div class="getStarted" id="start">
        <button onclick=""; >Click Here to Get Started</button>
    </div>
    <a href="/admin">Admin</a>
    <a href="">Support</a>
  </div>
  
{% endblock %}
  </html>