{% extends 'postings/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui">
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'postings/home.css' %}">
{% endblock %}




{% block content %}
<div class="home">
    <!-- Navbar -->
    <h1>Welcome to our Resources and Internships website!</h1>
    <img  alt="homeimg"  src="/homeimg.png" width="900" height="300">
    <h3>Explore Internships from renowned companies like</h3>
    <!-- Company Logos/ Examples -->
    <br><br>
     <br><br>
    <div class="getStarted" id="start">
        <a href="{% url 'create' %}">Create Post</a>
    </div>
    <br><br>
    <br><br>
    <a href="/admin">Admin</a>
   <br><br>
    <a href="">Support</a>
  </div>
  
{% endblock %}
  </html>