{% extends 'postings/base.html' %}
{% load static %}

{% block head %}
<title>Posts</title>
<link rel="stylesheet" href="{% static 'postings/posts.css' %}"
{% endblock %}

{% block content %}
<h1>Below are some of the latest posts</h1>
<a href="{% url 'create' %}">Create Post</a>


{% for internship in internships.all %}
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <p>{{ internship.internship_name }}</p>
    <p>{{ internship.employer_name }}</p>
    <p>{{ internship.link }}</p>
    <p>{{ internship.description }}</p>
  </div>
  
</div>



{% endfor %}




{% endblock %}