
body {
    background-color: #242582;
}

/* NAV */
.logo a {
    text-decoration: none;
    size: 20px;
    color:#F64C72;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-family: Serif;
    
}

.nav-container {
    display: flex;
}

.nav-container li {
    list-style-type: none;
    padding: 2rem;
}

.nav-container a {
    text-decoration: none;
     color:#F64C72;
}
h1{
  text-align:center;
  font-family: Serif;
  color: white;
}
p{
  font-family: Serif;
  color: white;
}